body {
  font-family: 'Montserrat', sans-serif;
  /* A clean, modern sans-serif font */
  background-color: #B1E3FA;
  /* Soft, calming blue background */
}

h1,
h2,
h3 {
  color: #2A5EA3;
  /* Primary color, a deep blue */
}

p {
  color: #2290AE;
  /* Secondary color, a lighter blue-green */
}

a {
  text-decoration: none;
  color: #33363b;
  /* Dark gray for links */
}

a:hover {
  color: #eaeaea;
  /* Light gray on hover */
}

header,
footer {
  background-color: #040404;
  /* Dark carbon black for header and footer */
  color: #d8ab4e;
  /* Golden color for text */
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}
